<div>
  <button
  class="btn ink-reaction btn-raised btn-primary filter-btn"
  data-original-title="Subir" >
  Filtro
</button>


<div class="col-md-3">
  <div class="panel-group">
    <div class="card panel">
      <div class="card-head regular collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#accordion1">
        <header>Provincias</header>
        <div class="tools">
          <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
      <div id="accordion1" class="collapse">
        <div class="card-body">
          <div class="card panel">
            <div class="card-head regular collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-1">
              <header>Cartago</header>
              <div class="tools">
                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
              </div>
            </div>
            <!-- Cantones -->
            <div id="accordion1-1" class="collapse">
              <div class="card-body">
                <!-- Canton central -->
                <div class="card panel">
                  <div class="card-head card-head-xs collapsed">
                    <header>
                      <div class="checkbox checkbox-styled checkbox-default-dark">
                        <label><input type="checkbox" checked><span> Cartago</span></label>
                      </div>
                    </header>
                    <div class="tools" data-toggle="collapse" data-parent="#accordion1-1" data-target="#accordion1-1-1">
                      <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                  </div>
                  <!-- Distritos -->
                  <div id="accordion1-1-1" class="collapse">
                    <div class="distrito-container">
                      <div class="checkbox checkbox-styled checkbox-default">
                        <label><input type="checkbox" checked><span> San Nicolás</span></label><br>
                        <label><input type="checkbox" checked><span> Granadilla</span></label><br>
                      </div>
                    </div>
                  </div><!--end .panel -->
                </div>
                <!-- otro canton -->
                <div class="card panel">
                  <div class="card-head card-head-xs collapsed">
                    <header>
                      <div class="checkbox checkbox-styled checkbox-default-dark">
                        <label><input type="checkbox" checked><span> Oreamuno</span></label>
                      </div>
                    </header>
                    <div class="tools" data-toggle="collapse" data-parent="#accordion1-1" data-target="#accordion1-1-2">
                      <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                  </div>
                  <!-- Distritos -->
                  <div id="accordion1-1-2" class="collapse">
                    <div class="distrito-container">
                      <div class="checkbox checkbox-styled checkbox-default">
                        <label><input type="checkbox" checked><span> Cot</span></label><br>
                        <label><input type="checkbox" checked><span> Cipreses</span></label><br>
                        <label><input type="checkbox" checked><span> Potrero Cerrado</span></label><br>
                        <label><input type="checkbox" checked><span> Santa Rosa</span></label><br>
                      </div>
                    </div>
                  </div><!--end .panel -->
                </div>
                <!-- otro canton -->
                <div class="card panel">
                  <div class="card-head card-head-xs collapsed">
                    <header>
                      <div class="checkbox checkbox-styled checkbox-default-dark">
                        <label><input type="checkbox" checked><span> Paraíso</span></label>
                      </div>
                    </header>
                    <div class="tools" data-toggle="collapse" data-parent="#accordion1-1" data-target="#accordion1-1-3">
                      <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                  </div>
                  <!-- Distritos -->
                  <div id="accordion1-1-3" class="collapse">
                    <div class="distrito-container">
                      <div class="checkbox checkbox-styled checkbox-default">
                        <label><input type="checkbox" checked><span> Orosi</span></label><br>
                        <label><input type="checkbox" checked><span> Cachí</span></label><br>
                        <label><input type="checkbox" checked><span> Santiago</span></label><br>
                      </div>
                    </div>
                  </div><!--end .panel -->
                </div>
                <!-- otro canton -->
                <div class="card panel">
                  <div class="card-head card-head-xs collapsed">
                    <header>
                      <div class="checkbox checkbox-styled checkbox-default-dark">
                        <label><input type="checkbox" checked><span> Turrialba</span></label>
                      </div>
                    </header>
                    <div class="tools" data-toggle="collapse" data-parent="#accordion1-1" data-target="#accordion1-1-4">
                      <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                  </div>
                  <!-- Distritos -->
                  <div id="accordion1-1-4" class="collapse">
                    <div class="distrito-container">
                      <div class="checkbox checkbox-styled checkbox-default">
                        <label><input type="checkbox" checked><span> La Isabel</span></label><br>
                        <label><input type="checkbox" checked><span> Tayutic</span></label><br>
                        <label><input type="checkbox" checked><span> La Suiza</span></label><br>
                        <label><input type="checkbox" checked><span> Santa Cruz</span></label><br>
                      </div>
                    </div>
                  </div><!--end .panel -->
                </div>
                <!-- otro canton -->
                <div class="card panel">
                  <div class="card-head card-head-xs collapsed">
                    <header>
                      <div class="checkbox checkbox-styled checkbox-default-dark">
                        <label><input type="checkbox" checked><span> El Guarco</span></label>
                      </div>
                    </header>
                    <div class="tools" data-toggle="collapse" data-parent="#accordion1-1" data-target="#accordion1-1-5">
                      <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                  </div>
                  <!-- Distritos -->
                  <div id="accordion1-1-5" class="collapse">
                    <div class="distrito-container">
                      <div class="checkbox checkbox-styled checkbox-default">
                        <label><input type="checkbox" checked><span> San Isidro</span></label><br>
                      </div>
                    </div>
                  </div><!--end .panel -->
                </div>
                <!-- más cantones-->

              </div>
            </div>
          </div><!--end .panel -->
        </div>
      </div>
    </div><!--end .panel -->
    <!-- Tipos -->
    <div class="card panel">
      <div class="card-head regular collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#accordion2">
        <header>Categoría</header>
        <div class="tools">
          <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
      <div id="accordion2" class="collapse">
        <div class="card-body">
          
          <div class="card panel">
            <div class="card-head card-head-xs collapsed" >
                <header>
                  <div class="checkbox checkbox-styled checkbox-default-dark">
                    <label><input type="checkbox" checked><span> Oficina de ASADA</span></label>
                  </div>
                  <div class="checkbox checkbox-styled checkbox-default-dark">
                    <label><input type="checkbox" checked><span> Tanque de almacenamiento</span></label>
                  </div>
                  <div class="checkbox checkbox-styled checkbox-default-dark">
                    <label><input type="checkbox" checked><span> Sistema de cloración</span></label>
                  </div>
                  <div class="checkbox checkbox-styled checkbox-default-dark">
                    <label><input type="checkbox" checked><span> Captación de naciente</span></label>
                  </div>
                  <div class="checkbox checkbox-styled checkbox-default-dark">
                    <label><input type="checkbox" checked><span> Toma de agua superficial</span></label>
                  </div>
                </header>
            </div>
          </div>
          
        </div>
      </div>
    </div><!--end .panel -->
    <!-- Riesgos -->
    <div class="card panel" *ngIf="isLoggedIn == true">
      <div class="card-head regular collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#accordion3">
        <header>Riesgos</header>
        <div class="tools">
          <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
      <div id="accordion3" class="collapse">
        <div class="card-body">

          <div class="card panel">
            <div class="card-head card-head-xs collapsed" id="riesgos">
                <header>
                  <div class="checkbox checkbox-styled checkbox-danger">
                    <label><input type="checkbox" checked><span> Muy Alto</span></label>
                  </div>
                  <div class="checkbox checkbox-styled checkbox-warning">
                    <label><input type="checkbox" checked><span> Alto</span></label>
                  </div>
                  <div class="checkbox checkbox-styled checkbox-yellow">
                    <label><input type="checkbox" checked><span> Intermedio</span></label>
                  </div>
                  <div class="checkbox checkbox-styled checkbox-lime">
                    <label><input type="checkbox" checked><span> Bajo</span></label>
                  </div>
                  <div class="checkbox checkbox-styled checkbox-success">
                    <label><input type="checkbox" checked><span> Nulo</span></label>
                  </div>
                </header>
            </div>
          </div>

        </div>
      </div>
    </div><!--end .panel -->

    <div class="card panel">
      <div class="card-head regular collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#accordion4">
        <header>Simbología</header>
        <div class="tools">
          <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
      <div id="accordion4" class="collapse in">
        <div class="card-body">

          <div class="card panel">
            <div class="card-head card-head-xs collapsed" >
                <header>
                  <div style=" display: inline-block;">
                    <img src="../../../assets/icons/Naciente.png" alt="" />
                    <span> Captación Superficial o naciente </span>
                  </div>
                  <div style=" display: inline-block;">
                    <img src="../../../assets/icons/oficina.png" alt="" />
                    <span> Oficina ASADA </span>
                  </div>
                  <div style=" display: inline-block;">
                    <img src="../../../assets/icons/Tanque.png" alt="" />
                    <span> Tanques de Agua </span>
                  </div>
                </header>
            </div>
          </div>
        </div>
      </div>
    </div><!--end .panel -->

  </div><!--end .panel-group -->
</div>
<!-- END filterbox -->


</div>