<section>
  <div class="col-lg-12">
    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="detailChlorinForm">
      <div class="card">

        <div class="card-head style-primary" *ngIf="readOnlyMode == true">
          <header>Detalles del sistema de cloración</header>
        </div>

        <div class="card-head style-primary" *ngIf="readOnlyMode == false">
          <header>Editar de sistemas de cloración</header>


        </div>
        <!-- BEGIN TEXT PLACE -->
        <div class="card-body">
          <div class="row">

            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 clearfix infra-main-image">
                <a class="pull-left" (click)="showGalleryModal()">
                  <img class="img-circle "  [src]="infraDB.mainImg.url" *ngIf="infraDB && infraDB.mainImg && infraDB.mainImg.url">
                  <img class="img-circle "src="../../assets/icons/image-not-found.png" *ngIf="!(infraDB && infraDB.mainImg && infraDB.mainImg.url)">
                      <a class="btn btn-icon-toggle ink-reaction img-circle edit-button" (click)="showGalleryModal()">
                        <i class="md md-mode-edit"></i></a>
                </a>
            </div>

            <div class="col-xs-10 col-sm-10 col-md-5 col-lg-5 clearfix">
              <div class="form-group">
                <input type="text" class="form-control" [readonly]="readOnlyMode == true" id="aqueductName"
                  formControlName="aqueductName" required>
                <label for="aqueductName">Nombre Acueducto</label>
              </div>

              <!-- Error message -->
              <div *ngIf="formErrors.aqueductName" class="alert alert-danger">
                {{ formErrors.aqueductName }}
              </div>

            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" [readonly]="readOnlyMode == true" id="aqueductInCharge"
                  formControlName="aqueductInCharge" required>
                <label for="aqueductInCharge">Encargado del acueducto</label>
              </div>
              <!-- Error message -->
              <div *ngIf="formErrors.aqueductInCharge" class="alert alert-danger">
                {{ formErrors.aqueductInCharge }}
              </div>

            </div>


            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" [readonly]="readOnlyMode == true" id="chlorinName"
                  formControlName="chlorinName" required>
                <label for="chlorinName">Nombre de sistema de cloración</label>
              </div>

              <!-- Error message -->
              <div *ngIf="formErrors.chlorinName" class="alert alert-danger">
                {{ formErrors.chlorinName }}
              </div>

            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" [readonly]="readOnlyMode == true" id="ubication"
                  formControlName="ubication" requerired>
                <label for="ubication">Ubicación</label>
              </div>

              <!-- Error message -->
              <div *ngIf="formErrors.ubication" class="alert alert-danger">
                {{ formErrors.ubication }}
              </div>

            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control dirty" readonly id="date" formControlName="asadaName">
                <label for="date">ASADA</label>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" [readonly]="readOnlyMode == true" id="inCharge" formControlName="inCharge"
                  required>
                <label for="inCharge">Funcionario</label>
              </div>

              <!-- Error message -->
              <div *ngIf="formErrors.inCharge" class="alert alert-danger">
                {{ formErrors.inCharge }}
              </div>

            </div>

          </div>
          <!-- End row -->

          <div class="row">

            <div class="col-sm-6">
              <div class="form-group" *ngIf="readOnlyMode == false">
                <material-datepicker [(date)]="AqueductCreationDate"></material-datepicker>
                <label for="AqueductCreationDate">Fecha de construcción del acueducto</label>
              </div>


              <div class="form-group" *ngIf="readOnlyMode == true">
                <input type="text" class="form-control dirty" [readonly]="readOnlyMode == true" id="AqueductCreationDate"
                  formControlName="AqueductCreationDate">
                <label for="AqueductCreationDate">Fecha de construcción del acueducto</label>
              </div>
            </div>


            <div class="col-sm-6">
              <div class="form-group" *ngIf="readOnlyMode == false">
                <material-datepicker [(date)]="SistemInstallDate"></material-datepicker>
                <label for="SistemInstallDate">Fecha de instalacion del sistema de cloración</label>
              </div>


              <div class="form-group" *ngIf="readOnlyMode == true">
                <input type="text" class="form-control dirty" [readonly]="readOnlyMode == true" id="instalationDate"
                  formControlName="instalationDate">
                <label for="instalationDate">Fecha de instalacion del sistema de cloración</label>
              </div>
            </div>

          </div>
          <!-- End row -->

          <div class="row" *ngIf="isAdmin">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control " readonly id="risk" formControlName="risk">
                <label for="risk">Riesgo</label>
              </div>
            </div>

          </div>
          <!-- End row -->


          <!-- END TEXT PLACE -->
          <br>

          <!-- BEGIN RADIO BUTTONS -->
          <div class="row">
            <div class="form-group" *ngIf="readOnlyMode == false">
              <label class="col-sm-6 control-label">Tipo de sistema del cloración</label>
              <div class="col-lg-12">
                <label *ngFor="let chlorin of chlorinType" class="radio-inline radio-styled">
                  <input type="radio" value={{chlorin.value}} formControlName="chlorinType">
                  <span>{{chlorin.display}}</span>
                </label>
              </div>
              <!--end .col -->
            </div>

            <div class="col-sm-6">
              <div class="form-group" *ngIf="readOnlyMode == true">
                <input type="text" class="form-control dirty" formControlName="chlorinType" readonly>
                <label for="volume">Tipo de sistema de cloración</label>
              </div>
            </div>

          </div>

          <br>

          <div class="row">
            <div class="form-group" *ngIf="readOnlyMode == false">
              <label class="col-sm-6 control-label">Tipo de dosificación</label>
              <div class="col-lg-12">
                <label *ngFor="let dosage of dosageType; let idx = index" class="radio-inline radio-styled">
                  <input type="radio" value={{dosage.value}} formControlName="dosageType">
                  <span>{{dosage.display}}</span>
                </label>
              </div>
              <!--end .col -->
            </div>

            <div class="col-sm-6">
              <div class="form-group" *ngIf="readOnlyMode == true">
                <input type="text" class="form-control dirty" formControlName="dosageType" readonly>
                <label for="volume">Tipo de dosificación</label>
              </div>
            </div>

          </div>
          <!-- END RADIO BUTTONS -->
          <br>

          <!-- BEGIN LOCATION -->
          <div class="row">
            <div class="col-sm-6">

              <div class="card">
                <div class="card-head style-warning">
                  <header> Ubicación geográfica</header>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <input type="number" step="any" class="form-control dirty" formControlName="latitude" [readonly]="readOnlyMode == true"
                      required>
                    <label>Latitud</label>
                  </div>

                  <!-- Error message -->
                  <div *ngIf="formErrors.latitude" class="alert alert-danger">
                    {{ formErrors.latitude }}
                  </div>

                  <div class="form-group">
                    <input type="number" step="any" class="form-control dirty" formControlName="longitude" [readonly]="readOnlyMode == true"
                      required>
                    <label>Longitud</label>
                  </div>

                  <!-- Error message -->
                  <div *ngIf="formErrors.longitude" class="alert alert-danger">
                    {{ formErrors.longitude }}
                  </div>
                  <div *ngIf="readOnlyMode == false">
                    <button type="button" (click)="getGeoLocation()" class="btn btn-raised btn-default-light ink-reaction"><i
                        class="md md-my-location"></i>Ubicación actual</button>
                  </div>
                </div>
                <!--end .card-body -->
              </div>
              <!--end .card -->

            </div>

          </div>
          <!-- END LOCATION -->

          <!-- BEGIN IMAGE UPLOAD -->

          <div class="card" *ngIf="false">
            <div class="card-head style-warning">
              <header> Imagenes</header>
            </div>
            <div class="card-body">

              <div *ngIf="this.infraDB && this.infraDB.img">
                <modal-gallery [modalImages]="imagesObservable" [showDownloadButton]="true" [downloadable]="true"
                  [loadingConfig]="true" [showExtUrlButton]="true"></modal-gallery>
              </div>

              <div *ngIf="this.infraDB && !this.infraDB.img">
                <label>No se encontro ninguna imagen</label>
              </div>

              <div style="float: right" *ngIf="readOnlyMode == false">
                <div class="fileUpload btn btn-success">
                  <span> <span class="glyphicon glyphicon-plus"></span> Agregar una imagen</span>
                  <input type="file" class="upload" accept="image/*" (change)="uploadFile($event)" />
                </div>

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#EliminateImage">
                  <span class="glyphicon glyphicon-minus"></span> Eliminar imagen
                </button>


                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditImage">
                  <span class="glyphicon glyphicon-pencil"></span> Editar descripción
                </button>

              </div>
            </div>
          </div>
          <!--end .card -->

          <!-- END IMAGE UPLOAD -->

          <div class="card-actionbar">
            <div class="card-actionbar-row">

              <div *ngIf="readOnlyMode == false">

                <button type="button" class="btn ink-reaction btn-raised btn-primary" data-toggle="modal" data-target="#SaveModal"
                  [disabled]="!detailChlorinForm.valid || !AqueductCreationDate || !SistemInstallDate">
                  Guardar Cambios
                  <div class="ink" style="top: 20px; left: 51.75px;"></div>
                </button>

                <button type="button" class="btn ink-reaction btn-raised btn-warning" (click)="reload()">
                  Volver
                  <div class="ink" style="top: 20px; left: 51.75px;"></div>
                </button>

                <button type="button" class="btn ink-reaction btn-raised btn-danger" data-toggle="modal" data-target="#EliminateModal">
                  Eliminar
                  <div class="ink" style="top: 20px; "></div>
                </button>
              </div>

              <div *ngIf="readOnlyMode == true">
                <button type="button" class="btn ink-reaction btn-raised btn-primary" *ngIf="readOnlyMode == true"
                  (click)="changeToEdit()">
                  Editar
                  <div class="ink" style="top: 20px; left: 51.75px;"></div>
                </button>
                <button type="button" class="btn ink-reaction btn-raised btn-primary btn-loading-state" *ngIf="readOnlyMode == true"
                  (click)="export()">
                  Exportar
                  <div class="ink" style="top: 20px; left: 51.75px;"></div>
                </button>

                <button type="button" class="btn ink-reaction btn-raised btn-warning" *ngIf="readOnlyMode == true"
                  (click)="openEvaluation()">
                  Evaluar
                  <div class="ink" style="top: 20px; left: 51.75px;"></div>
                </button>
              </div>
              <br>

            </div>
          </div>

          <toaster-container [toasterconfig]="toastConfig"></toaster-container>

        </div>
        <!-- End card body -->

      </div>
      <!--end .card -->
    </form>
    <div *ngIf="showGallery">
      <app-infrastructure-gallery id="gallery" [editMode]='editmode' [infrastructure]='this.infraDB' (selectedImageChanged)='selectedImageChanged($event)'>
      </app-infrastructure-gallery>

    </div>


    <!-- <a data-toggle="modal" data-target="#modal-gallery">
        <img [src]="infraDB.mainImg.url" width="32px" *ngIf="infraDB && infraDB.mainImg && infraDB.mainImg.url">
        <img src="../../assets/icons/image-not-found.png"  width="32px" *ngIf="!(infraDB && infraDB.mainImg && infraDB.mainImg.url)">
    </a>

    <div id="modal-gallery" class="modal modal-wide fade">
        <div class="modal-dialog">
          <div class="modal-content">
          <app-infrastructure-gallery [editMode]='editmode' [infrastructure]='this.infraDB' (selectedImageChanged)='selectedImageChanged($event)'></app-infrastructure-gallery>
        </div>
      </div>
    </div> -->



    <!-- Modal -->
    <div id="SaveModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Confirmar cambios</h4>
          </div>
          <div class="modal-body">
            <h3>Desea guardar los cambios.</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit()">Guardar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="EliminateModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Confirmar accion</h4>
          </div>
          <div class="modal-body">
            <h3>Desea eliminar el sistema de cloración.</h3>
            <h4 class="text-danger">Si es eliminado, no se podra recuperar</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Eliminar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="EliminateImage" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Eliminar imagen</h4>
          </div>

          <div class="modal-body">
            <h3>Selecione la imagen que desea eliminar</h3>
            <h4 class="text-danger">Una vez es eliminada, no se podra recuperar</h4>

            <div class="row" *ngIf="this.infraDB && this.infraDB.img">
              <img *ngFor="let image of this.infraDB.img" class="pull-left width-3" [class.redBorder]="image==imgMarkedDel"
                [src]="image.url" alt="" (click)="markForDelete(image)">
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteImage()">Eliminar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelDeleteImg()">Cancelar</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="EditImage" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Editar imagen</h4>
          </div>

          <div class="modal-body">
            <h3>Selecione la imagen que desea editar la descripción</h3>

            <div class="row" *ngIf="this.infraDB && this.infraDB.img">
              <img *ngFor="let image of this.infraDB.img" class="pull-left width-3" [class.redBorder]="image==imgMarkedEdit"
                [src]="image.url" alt="" (click)="markForEdition(image)">
            </div>

            <br>

            <div class="row" *ngIf="imgMarkedEdit">
              <div class="col-sm-12">
                <label class="control-label">descripción</label>
                <div class="form-group">
                  <input #descrip type="text" class="form-control " id="imgDescription" [value]="imgMarkedEdit.description">
                  <label></label>
                </div>
              </div>
              <button type="button" class="btn btn-success" (click)="saveDescription(descrip.value)">Guardar</button>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelEditImg()">Cerrar</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="EditImage" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Editar imagen</h4>
          </div>

          <div class="modal-body">
            <h3>Selecione la imagen que desea editar la descripción</h3>

            <div class="row" *ngIf="this.infraDB && this.infraDB.img">
              <img *ngFor="let image of this.infraDB.img" class="pull-left width-3" [class.redBorder]="image==imgMarkedEdit"
                [src]="image.url" alt="" (click)="markForEdition(image)">
            </div>

            <br>

            <div class="row" *ngIf="imgMarkedEdit">
              <div class="col-sm-12">
                <label class="control-label">descripción</label>
                <div class="form-group">
                  <input #descrip type="text" class="form-control " id="imgDescription" [value]="imgMarkedEdit.description">
                  <label></label>
                </div>
              </div>
              <button type="button" class="btn btn-success" (click)="saveDescription(descrip.value)">Guardar</button>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelEditImg()">Cerrar</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>