.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.infra-main-image{
    z-index: 10;
}
.infra-main-image img,.infra-main-image .edit-button{
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0!important;
    margin-bottom: auto!important;
    position: absolute;
    top:0px!important;
}

.edit-button {
    font-size: 22px;
    color: #ffffff;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    z-index: 100!important;
  }
  .edit-button:hover{
    opacity: 1;
  }