<div class="col-lg-12">
  <form class="form">
    <div class="card">
      <div class="card-head style-primary">
        <header>Creación de captación superficial</header>
      </div>
      <div class="card-body">
        
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" id="NombreTanque">
              <label for="NombreTanque">Nombre de la captación</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" id="NORegistro">
              <label for="NORegistro">NO. Registro en MINAE</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" id="NombreAcueducto">
              <label for="NombreAcueducto">Nombre Acueducto</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" id="NombreAcueducto">
              <label for="NombreAcueducto">Encargado</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" id="NombreAcueducto">
              <label for="NombreAcueducto">Registro en Dirección de ARS</label>
            </div>
          </div>
        </div>
        
        <div class="row">
          
        </div>
        
        <div class="form-group">
          <label class="col-sm-6 control-label">Frecuencia de limpieza</label>
          <div class="col-lg-12">
            <label class="radio-inline radio-styled">
              <input type="radio" name="inlineRadioOptions" value="option1"><span>Anual</span>
            </label>
            <label class="radio-inline radio-styled">
              <input type="radio" name="inlineRadioOptions" value="option2"><span>Semestral</span>
            </label>
            <label class="radio-inline radio-styled">
              <input type="radio" name="inlineRadioOptions" value="option3"><span>Trimestral</span>
            </label>
            <label class="radio-inline radio-styled">
              <input type="radio" name="inlineRadioOptions" value="option1"><span>Mensual</span>
            </label>
            <label class="radio-inline radio-styled">
              <input type="radio" name="inlineRadioOptions" value="option2"><span>Otra</span>
            </label>
            <label class="radio-inline radio-styled">
              <input type="radio" name="inlineRadioOptions" value="option3"><span>No se sabe/Nunca</span>
            </label>
          </div><!--end .col -->
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <form class="form-inline">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <input type="text" class="form-control" id="Username4">
                    <label for="Username4">Latitud</label>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="Password4">
                    <label for="Password4">Longitud</label>
                  </div>
                  <button type="submit" class="btn btn-raised btn-default-light ink-reaction">Usar ubicación actual</button>
                </div><!--end .card-body -->
              </div><!--end .card -->
            </form>
          </div>      
        </div>
        <h3 class="text-primary-dark">Inserte una imagen</h3>
        <input class="btn btn-raised btn-default-light ink-reaction" 
        type="file" accept="image/*" capture="camera">
        <div class="checkbox checkbox-styled">
          <label>
            <input type="checkbox" value="">
            <span>Agregar como favorito</span>
          </label>
        </div>
      </div><!--end .card-body -->
      <div class="card-actionbar">
        <div class="card-actionbar-row">
          <button type="button" class="btn ink-reaction 
          btn-raised btn-primary btn-loading-state" 
          data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">
          Crear Captación Superficial
          <div class="ink" style="top: 20px; left: 51.75px;"></div></button>
        </div>
      </div>
    </div><!--end .card -->
  </form>
  </div>
