<section>
  
  <div class="section-body contain-xl">
      <div class="section-header">
          <h2 class="text-default-bright">Toma de datos pendientes de revisión</h2>
          
        </div>
        
      <div class="no-y-padding" style="background-color:transparent">
        
          <form class="form form-inverse">
            <div class="form-group">
              
            </div>
            <!--end .form-group -->
          </form>
        </div>
      

    <div class="card tabs-left style-default-light ">
        
      

      <!-- BEGIN TAB CONTENT -->
      <div class="card-body tab-content style-default-bright">
        <div class="tab-pane active" id="web1">
          <div class="row">
            <div class="col-lg-12">
             

              <div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="text-medium text-lg text-primary">Estudiante</th>
                      <th class="text-medium text-lg text-primary">ASADA</th>
                      <th class="text-medium text-lg text-primary">Fecha</th>
                      <th class="text-medium text-lg text-primary"># Infraestructuras</th>
                      <th class="text-medium text-lg text-primary">Estado</th>
                      <th class="text-medium text-lg text-primary"> </th>
                      
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of tomaDatosList">
                          
                      <td><a class="opacity-75">{{element.Estudiante}}</a></td>
                      <td><a class="opacity-75">{{element.Asada}}</a></td>
                      <td><a class="opacity-75" >{{element.Fecha}}</a></td>
                      <td><a class="opacity-75">{{element.Infraestructura}}</a></td>
                      <td><a [style.color]="element.Estado === 'Pendiente' ? 'orange' : element.Estado === 'Aceptado' ? 'green' : 'red'"><b>{{element.Estado}}</b></a></td>
                      <td class="text-right">
                            <button *ngIf = "element.Estado!='Aceptado'" type="button" class="btn btn-icon-toggle" [routerLink]="['/tomaDatosInfra',element.key]"  data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-arrow-right"></i></button>
                          </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <!-- END TAB CONTENT -->
    </div>
  </div>
  

</section>



