<div class="card style-default-dark gallery-panel">
  
    <div class="loading" *ngIf="loadingState">
        <div class="loading-spinner"></div>
    </div>

  <div class="card-head">
    <div class="top-left-controls">

      <header class=" no-padding" *ngIf="!editMode">Evidencias de tomas de datos</header>
      <header class=" no-padding" *ngIf="editMode">Seleccione la foto principal</header>
    </div>
    <button class="btn btn-icon-toggle pull-right full-mode-toggle top-right" *ngIf="!emptyGallery && selectionMode=='selection'"
      (click)="openFullMode()"><i class="md md-fullscreen"></i></button>

  </div>
  <div class="card-body style-default-bright gallery-content">
    <div *ngIf='!infrastructure'>

      
        <div class="noContent centered-content" >
            <span class="noContent-info-text middle-top">
                <p class="lead">
                  No se ha seleccionado una infraestructura
                </p>
            </span>
          </div>

    </div>
    <div *ngIf='infrastructure'>
      <div class="card-head">
        <ul class="nav nav-tabs" data-toggle="tabs">
          <li [class.active]="tabIndex==0"><a (click)="toggleImageUploadMode()">Subir</a></li>
          <li [class.active]="tabIndex==1"><a (click)="toggleImageSelectionMode()">Seleccionar</a></li>
        </ul>
      </div>
      <!--end .card-head -->
      <div class="card-body tab-content">
        <div class="tab-pane" [class.active]="tabIndex==0" id="tab-subir">
          <div class="album-thumbnails">
            <a class="card">
              <div>
                <img id="uploaded-image" *ngIf="uploadedImageFile" />
                <img src="../../assets/icons/image-not-found.png" *ngIf="!uploadedImageFile" />
              </div>
            </a>
            <span> <span class="glyphicon glyphicon-plus"></span> Agregar una imagen
              <input type="file" class="upload" accept="image/jpeg, image/png" (change)="updateUploadedImageFile($event,'uploaded-image')" />
            </span>
          </div>
        </div>
        <div class="tab-pane" [class.active]="tabIndex==1" id="tab-seleccionar">

            <div class="noContent centered-content" *ngIf="emptyGallery">
                <span class="noContent-info-text middle-top">
                    <p class="lead">
                        No existen fotos guardadas para esta infraestructura.
                      </p>
                </span>
              </div>
          <div *ngIf="!emptyGallery" class="row">
            <div *ngIf="!editMode" class="album-thumbnails">
              <a *ngFor="let image of infrastructure.img" class="card" (click)="markAsCurrent(image)">
                <div>
                  <img [src]="image.url" alt="Image" />
                </div>
              </a>
            </div>
            <div *ngIf="editMode" class="album-thumbnails">
              <a *ngFor="let image of infrastructure.img" class="card" (click)="markAsSelected(image)">
                <div [class.selected]="image==selectedImage">
                  <img [src]="image.url" alt="Image" [class.selected-image]="image==selectedImage" />
                  <div class="selected-indicator centered-content">
                    <i class="fa fa-check-square top-right"></i>
                    <button class="btn btn-icon-toggle full-mode-toggle-centered" *ngIf="image==selectedImage" (click)="openFullMode()"><i
                        class="md md-fullscreen"></i></button>
                  </div>
                  <div class="unselected-indicator centered-content">
                    <i class="fa fa-square-o top-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="card-actionbar no-padding" *ngIf="editMode">
    <div class="card-actionbar-row">

      <div class="col-xs-12 col-sm-6 clearfix gallery-footer-section" *ngIf="preview">
        <a class="pull-left">
          Seleccionada:
          <img class="img-circle " id="preview-image" *ngIf="mainImageFile">
          <img class="img-circle " src="../../assets/icons/image-not-found.png" *ngIf="!mainImageFile">
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 clearfix gallery-footer-section">
      <div class="bottom-right">
        <button type="button" *ngIf="(selectionMode=='upload' && uploadedImageFile) || (selectionMode=='selection' && selectedImageFile)"
          class="btn ink-reaction btn-raised btn-accent-dark" (click)="saveSelectedImageAsMain()">
          Guardar Cambios
        </button>

        <button type="button" class="btn ink-reaction btn-raised btn-default-dark" (click)="close()">
          Volver
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<toaster-container [toasterconfig]="toastConfig"></toaster-container>

<div class="ng-overlay" *ngIf="fullmode && !emptyGallery">
  <div class="ng-gallery-content" (swipeleft)="fullModeMoveLeft()" (swiperight)="fullModeMoveRight()" (swipeup)="closeFullMode()">
    <div class="tools top-left-controls">
      <div class="btn-group">
        <div class="btn-group ">
          <a class="btn btn-icon-toggle btn-close btn-gallery-action" (click)="closeFullMode()"><i class="md md-arrow-back"></i></a>
        </div>
      </div>
    </div>
    <div class="tools top-right-controls" *ngIf="currentImage && currentImage.url">
      <div class="btn-group">
        <div class="btn-group ">
          <div class="panel-selected-toggle pull-left" *ngIf="editMode">
            <button class="btn btn-accent-light element-selected-toggle" *ngIf="selectedImage && selectedImage==currentImage">
              <strong>Seleccionado<i class="fa fa-check"></i></strong></button>
            <button class="btn btn-default-light element-selected-toggle" *ngIf="currentImage && currentImage.url && selectedImage!=currentImage"
              (click)="markAsSelected(currentImage)">
              Seleccionar<i class="fa fa-check"></i></button>
          </div>
          <a class="btn btn-icon-toggle btn-refresh btn-gallery-action" href="{{currentImage.url}}" target="_blank"><i
              class="md md-open-in-new"></i></a>
          <a class="btn btn-icon-toggle btn-refresh btn-gallery-action" (click)="downloadImage()"><i class="md md-file-download"></i></a>
        </div>
      </div>
    </div>

    <span class="info-text middle-top">{{indexString}}</span>

    <a class="nav-left" (click)="fullModeMoveLeft()"><i class="fa fa-angle-left"></i></a>
    <img class="effect gallery-image" [src]="currentImage.url" *ngIf="currentImage && currentImage.url" />
    <img class="effect gallery-image" src="../../assets/icons/image-not-found.png" *ngIf="!(currentImage && currentImage.url)" />
    <a class="nav-right" (click)="fullModeMoveRight()"><i class="fa fa-angle-right"></i></a>

    <span class="info-text middle-bottom" *ngIf="currentImage && currentImage.url">{{currentImage.description}}</span>

  </div>
</div>