.text-center{
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 5%;
	color: white;
}

.img-responsive{
  position: fixed; 
  min-width: 100%;
  min-height: 100%;
  width:100%;
  height:100%;
  z-index:-1;	
}

.home-page {
	position: relative;
	top: 10px;
}