<section>
  <div class="section-header">
    <h2 class="text-default-bright">Comparación de ASADAs</h2>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-body padding-left x-scrollable-div">
        <table class="table table-condensed table-hover ">
          <thead>
            <tr>
              <th > </th>
              <th *ngFor="let asada of asadasCompareList; let i = index">
                <div class="btn-group">
                  <span class=" text-default-dark no-margin">
                    <i class=" overflow-auto">{{asada.name}}</i>
                    <a class="btn btn-icon-toggle" (click)="removeAsada(asada)"><i class="fa fa-close"></i></a>
                  </span>
                      
                </div>

              </th>
              <th *ngIf="asadasCompareList.length < maxComparedAmount">
                <div class="btn-group">
                  <button class="btn dropdown-toggle btn-default-dark" data-toggle="dropdown">
                    Agregar+ <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="card dropdown-menu asadas-list card-underline">

                    <div class="loading" *ngIf="asadasList.length==0;">
                      <div class="loading-spinner dark"></div>
                    </div>

                    <button class="col-xs-12 btn ink-reaction btn-default-bright" (click)="addAsada(element)" *ngFor="let element of asadasList">
                      <a>{{element.name}} </a>
                    </button>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nombre</td>
              <td *ngFor="let asada of asadasCompareList">{{asada.name}}</td>
            </tr>
            <tr>
              <td>Ubicación (provincia, cantón, distrito)</td>
              <td *ngFor="let asada of asadasCompareList">
                {{asada.location.province.name}}, {{asada.location.canton.name}},
                {{asada.location.district.name}}
              </td>

            </tr>
            <tr>
              <td>Cantidad de abonados</td>
              <td *ngFor="let asada of asadasCompareList">{{asada.numberSubscribed}}</td>
            </tr>
            <tr>
              <td>Población abastecida</td>
              <td *ngFor="let asada of asadasCompareList">{{asada.population}}</td>
            </tr>
            <tr>
              <td>Tipo de Zona</td>
              <td *ngFor="let asada of asadasCompareList">{{asada.zoneType}}</td>
            </tr>
            <tr>
              <td>Ente administrador</td>
              <td *ngFor="let asada of asadasCompareList">{{asada.adminEntityName}}</td>
            </tr>
            <tr>
              <td>Captaciones Superficiales</td>
              <td *ngFor="let asada of asadasCompareList">{{asada.superficial}}</td>
            </tr>
            <tr>
              <td>Tanques</td>
              <td *ngFor="let asada of asadasCompareList">{{asada.tanksNumber}}</td>
            </tr>
            <tr>
              <td>Sistemas de Cloración</td>
              <td *ngFor="let asada of asadasCompareList">{{asada.fountains}}</td>
            </tr>
            <tr>
              <td>Captaciones de Nacientes</td>
              <td *ngFor="let asada of asadasCompareList">{{asada.nascent}}</td>
            </tr>
            <tr>
              <td>Lineas de Distribucion</td>
              <td *ngFor="let asada of asadasCompareList">{{asada.waterWells}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>