<section>

	<div class="section-header">
		<h2 class="text-default-bright">Preguntas Frecuentes</h2>
	</div>

	<div class="section-body" id="about-us-title">

		<div class="panel-group"> <!--id="accordion_"-->  
			<div class="card panel">
				<div class="card-head regular collapsed" data-toggle="collapse" data-parent="#accordion_" data-target="#accordion_1">
					<header>¿Qué es el Sistema de Gestión de ASADAS?</header>
					<div class="tools">
						<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
				<div id="accordion_1" class="collapse in">
					<div class="card-body">
					<p>Este  sitio web se crea como respuesta a la necesidad de una herramienta tecnológica para la organización 
						de la información del saneamiento ambiental sostenible y el aseguramiento del suministro de agua potable 
						en Costa Rica mediante las ASADAs, organizaciones encargadas de dichos temas en las áreas rurales del país.</p>
					<p>La información que se presenta puede ser de importancia para la toma de decisiones de inversión en el sector 
						agua y saneamiento de parte tanto de las ASADAs como de las Municipalidades de cada región.</p>
					<p>La información es ingresada por los encargados de las ASADAs con información veraz y oportuna.</p>
					</div>
				</div>
			</div><!--end .panel -->

			<div class="card panel">
				<div class="card-head regular collapsed" data-toggle="collapse" data-parent="#accordion_" data-target="#accordion_2">
					<header>¿Cómo utilizo el sistema?</header>
					<div class="tools">
					<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
				<div id="accordion_2" class="collapse">
					<div class="card-body">
						Manuales de usuario:
						<ul>
							<li><a href="https://docs.google.com/document/d/1hkAlOyM_69ebl4SDqCPifDWhm_e1OInot9We1Q1PYss/edit?usp=sharing">
								1.01: Sistema Web de búsqueda e información de ASADAS, iteración 1
							</a></li>
							<li><a href="https://docs.google.com/document/d/1rxB5PNGjxbLGe-NjAeyhRTAIqAbC0kNJK0UC-4Sa8GA/edit?usp=sharing">
								1.03: Sistema Web de búsqueda e información de ASADAS, iteración 3
							</a></li>
							<li><a href="https://docs.google.com/document/d/15K05VV0l69oKs0CXTLd0nEWoGPezyG2arOkYbTt6SCY/edit?usp=sharing">
								2.01: Sistema de Gestión de ASADAs, iteración 1
							</a></li>
							<li><a href="https://docs.google.com/document/d/1hsWX2rrvpq_-365WUNMKLIRLd5GTYW6R9vh1yqM6EwY/edit?usp=sharing">
								2.02: Sistema de Gestión de ASADAs, iteración 2 (móvil)
							</a></li>
							<li><a href="https://docs.google.com/document/d/1G1Oo1Ctst3OL50JHcifwYxFkrNIEvkZDUynf5ZE6YVk/edit?usp=sharing">
								2.03: Sistema de Gestión de ASADAs, iteración 3
							</a></li>
						</ul>
					</div>
				</div>
			</div><!--end .panel -->

			<div class="card panel">
				<div class="card-head regular collapsed" data-toggle="collapse" data-parent="#accordion_" data-target="#accordion_4">
					<header>Documentación y fuentes</header>
					<div class="tools">
					<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
				<div id="accordion_4" class="collapse">
					<div class="card-body">
					Enlaces de documentación técnica y fuentes de información.
					</div>
				</div>
			</div><!--end .panel -->

			<div class="card panel" >
				<div class="card-head regular collapsed" data-toggle="collapse" data-parent="#accordion_" data-target="#accordion_3">
					<header>Contribuidores</header>
					<div class="tools">
					<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
				<div id="accordion_3" class="collapse">
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<span class="text-bold text-lg">Coordinadoras</span>
								<table class="table table-condensed">
									<tr>
										<td style="width: 20%">
											<img class="img-circle width-2" src="../../../assets/img/avatar1.jpg" alt="" />
										</td>
										<td style="width: 80%">
											<span class="text-lg">Lilliana Gaviria</span><br>
											<span class="text-bold">lgaviria@itcr.ac.cr</span>
										</td>
									</tr>
									<tr>
										<td style="width: 20%">
											<img class="img-circle width-2" src="../../../assets/img/avatar1.jpg" alt="" />
										</td>
										<td style="width: 80%">
											<span class="text-lg">Silvia Soto</span><br>
											<span class="text-bold">ssoto@itcr.ac.cr</span>
										</td>
									</tr>
								</table>
							</div>
							<div class="col-md-8">
								<span class="text-bold text-lg">Desarrolladores</span>
								<div class="row">
									<div class="col-md-6">
										<span class="text-light">Versión 1</span>
										<table class="table table-condensed">
											<tr>
												<td style="width: 10%">
													<img class="img-circle width-1" src="../../../assets/img/avatar1.jpg" alt="" />
												</td>
												<td style="width: 90%">
													<span class="text-lg">Juan José Gutiérrez</span>
												</td>
											</tr>
											<tr>
												<td style="width: 10%">
													<img class="img-circle width-1" src="../../../assets/img/avatar1.jpg" alt="" />
												</td>
												<td style="width: 90%">
													<span class="text-lg">Joshua Mata</span>
												</td>
											</tr>
											<tr>
												<td style="width: 10%">
													<img class="img-circle width-1" src="../../../assets/img/avatar1.jpg" alt="" />
												</td>
												<td style="width: 90%">
													<span class="text-lg">Alexánder Sánchez</span>
												</td>
											</tr>
										</table>
									</div>
									<div class="col-md-6">
										<span class="text-light">Versión 2</span>
											<table class="table table-condensed">
												<tr>
													<td style="width: 10%">
														<img class="img-circle width-1" src="../../../assets/img/avatar1.jpg" alt="" />
													</td>
													<td style="width: 90%">
														<span class="text-lg">Gabriela Garro</span>
													</td>
												</tr>
												<tr>
													<td style="width: 10%">
														<img class="img-circle width-1" src="../../../assets/img/avatar1.jpg" alt="" />
													</td>
													<td style="width: 90%">
														<span class="text-lg">Ricardo Guerrero</span>
													</td>
												</tr>
												<tr>
													<td style="width: 10%">
														<img class="img-circle width-1" src="../../../assets/img/avatar1.jpg" alt="" />
													</td>
													<td style="width: 90%">
														<span class="text-lg">Luis Quirós</span>
													</td>
												</tr>
											</table>
									</div>
								
								<div class="col-md-6">
										<span class="text-light">Versión 3</span>
											<table class="table table-condensed">
												<tr>
													<td style="width: 10%">
														<img class="img-circle width-1" src="../../../assets/img/avatar1.jpg" alt="" />
													</td>
													<td style="width: 90%">
														<span class="text-lg">Anthony Alfaro</span>
													</td>
												</tr>
												<tr>
													<td style="width: 10%">
														<img class="img-circle width-1" src="../../../assets/img/avatar1.jpg" alt="" />
													</td>
													<td style="width: 90%">
														<span class="text-lg">Greivin Guevara</span>
													</td>
												</tr>
												<tr>
													<td style="width: 10%">
														<img class="img-circle width-1" src="../../../assets/img/avatar1.jpg" alt="" />
													</td>
													<td style="width: 90%">
														<span class="text-lg">María Laura Pizarro</span>
													</td>
												</tr>
											</table>
									</div>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div><!--end .panel -->

		</div><!--end .panel-group -->

	</div>

</section>