<section>

  <div class="section-body contain-xl">

    <div class="ccol-sm-6">
      <form class="form" (ngSubmit)="onSubmit()" [formGroup]="userDetailsForm">
        <div class="card">

          <div class="card-head style-primary" *ngIf="readOnlyMode == true">
            <header>Detalles Usuario</header>
          </div>

          <div class="card-head style-primary" *ngIf="readOnlyMode == false">
            <header> Editar Usuario </header>
          </div>

          <!-- BEGIN TEXT PLACE -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control dirty" [readonly]="readOnlyMode == true" id="userName" formControlName="userName"
                    required>
                  <label for="userName">Nombre</label>
                </div>

                <!-- Error message -->
                <div *ngIf="formErrors.userName" class="alert alert-danger">
                  {{ formErrors.userName }}
                </div>

              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control dirty" [readonly]="readOnlyMode == true" id="userLastName" formControlName="userLastName"
                    required>
                  <label for="userLastName">Apellidos</label>
                </div>

                <!-- Error message -->
                <div *ngIf="formErrors.userLastName" class="alert alert-danger">
                  {{ formErrors.userLastName }}
                </div>

              </div>
            </div>
            <!-- End Row -->

            <!-- END IMAGE UPLOAD -->

          </div>
          <!-- End card body -->



          <div class="card-actionbar">
            <div class="card-actionbar-row">

              <div *ngIf="readOnlyMode == false">
                <button type="submit" class="btn ink-reaction btn-raised btn-primary btn-loading-state" [disabled]="!userDetailsForm.valid"
                  data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">
            Guardar Cambios
            <div class="ink" style="top: 20px; left: 51.75px;"></div></button>

                <button type="button" class="btn ink-reaction btn-raised btn-warning btn-loading-state" (click)="cancelChanges()" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">
            Cancelar
            <div class="ink" style="top: 20px; left: 51.75px;"></div></button>
              </div>

              

              <div *ngIf="readOnlyMode == true">
                <button type="button" class="btn ink-reaction btn-raised btn-primary btn-loading-state" *ngIf="readOnlyMode == true" (click)="changeToEdit()"
                  data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">
            Editar
            <div class="ink" style="top: 20px; left: 51.75px;"></div></button>
            <button type="button" class="btn ink-reaction btn-raised btn-primary btn-loading-state" data-toggle="modal" data-target="#formModal" *ngIf="readOnlyMode == true"
                  data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">
            Cambiar contraseña
            <div class="ink" style="top: 20px; left: 51.75px;"></div></button>
              </div>
              <br>

            </div>
          </div>


        </div>
        <!--end .card -->
      </form>
    </div>


  </div>
  <!-- End section-body -->
</section>


<!-- BEGIN FORM MODAL MARKUP   -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" style="color:#4CAF50" id="formModalLabel">Cambiar contraseña</h4>
        </div>
        <form class="form-horizontal" role="form" (ngSubmit)="cambiarPass()" [formGroup]="userDetailsForm">
          <div class="modal-body">
            <div class="form-group">
              <div class="col-sm-3">
                <label for="old_pass" class="control-label">Contraseña actual</label>
              </div>
              <div class="col-sm-9">
                <input type="password" name="old_pass" id="old_pass" class="form-control" formControlName="password">
              </div>
            </div>
            <div *ngIf="formErrors.password" class="alert alert-danger">
                {{ formErrors.password }}
              </div>

            <div class="form-group">
              <div class="col-sm-3">
                <label for="new_pass" class="control-label">Nueva contraseña</label>
              </div>
              <div class="col-sm-9">
                <input type="password" name="new_pass" id="new_pass" class="form-control" formControlName="newpassword">
              </div>
            </div>
            <div *ngIf="formErrors.newpassword" class="alert alert-danger">
                {{ formErrors.newpassword }}
              </div>

              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="new_pass" class="control-label">Confirmar contraseña</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="password" name="new_pass" id="new_pass" class="form-control" formControlName="passwordConfirmation">
                  </div>
                </div>
                <div *ngIf="formErrors.passwordConfirmation" class="alert alert-danger">
                    {{ formErrors.passwordConfirmation }}
                  </div>
           
          </div>
          <div class="modal-footer">
            <button type="button" id = "cerrar" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" >Cambiar</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- END FORM MODAL MARKUP -->
  