<div class="col-lg-12">
  <div class="card">

    <div class="card-body tab-content">

    <tabs>
      <tab tabTitle="Tanque de almacenamiento"><app-add-tank [asadaId]='AsadaID'></app-add-tank></tab>
     <tab tabTitle="Sistema de cloracion"> <app-add-chlorin-system [asadaId]='AsadaID'></app-add-chlorin-system></tab>
      <tab tabTitle="Captacion de naciente"> <app-add-nascent [asadaId]='AsadaID'></app-add-nascent> </tab>
     <tab tabTitle="Toma de agua superficial"> <app-add-superficial-water [asadaId]='AsadaID'></app-add-superficial-water> </tab>
    </tabs>
    </div><!--end .card-body -->
  </div><!--end .card -->
</div> 