app-filter{
    width: 100%;
    left: 0px;
    right: 0px;
    float: left;
  }
.row-image{
    height: 55px!important;
    width: 55px!important;
}

.riskBorder-MuyAlto{
    border-left: thin solid ;
    border-left-width: 3px;
    border-left-color: #e54133;
    background: linear-gradient(to left, white,white 99.2%, #e54133 100%);
}

.riskBorder-Alto{
    border-left: thin solid ;
    border-left-width: 3px;
    border-left-color: #ec9620;
    background: linear-gradient(to left, white,white 99.2%, #ec9620 100%);

    // background-image: linear-gradient(to right, #ec9620 , white);
}
.riskBorder-Intermedio{
    border-left: thin solid ;
    border-left-width: 3px;
    border-left-color: #f9eb39;
    background: linear-gradient(to left, white,white 99.2%, #f9eb39 100%);

    // background-image: linear-gradient(to right, #f9eb39 , white);
}
.riskBorder-Bajo{
    border-left: thin solid ;
    border-left-width: 3px;
    border-left-color: #53af50;
    background: linear-gradient(to left, white,white 99.2%, #53af50 100%);

    // background-image: linear-gradient(to right, #53af50 , white);
}
.riskBorder-Nulo{
    border-left: thin solid ;
    border-left-width: 3px;
    border-left-color: #0156c4;
    background: linear-gradient(to left, white,white 99.2%, #0156c4 100%);

}

.riskBorder-noInfo{
    border-left: thin solid ;
    border-left-width: 3px;
    border-left-color: rgb(25, 27, 26);
}
// .riskBorder{
//     width: 2px;
// }
// .riskBorder a{
//     display: :none;
// }

// .riskBorder:hover{
//     width: 20px;
//     font-size: 10px;
// }
// .riskBorder a:hover{
//     display: :none;
// }



.table-panel{
    padding: 5px 15px!important;
    color:black;
}

.fixed-header tbody {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .fixed-header thead,
  .fixed-header tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .fixed-header tr{
      min-width: 130!important;
  }




// .fixed-header{
//     width: 100%;
//     table-layout: fixed;
//     border-collapse: collapse;
// }

// .fixed-header tbody{
//     display:block;
//     width: 100%;
//     overflow-y: auto;
//     height: 400px;
//   }

//   .fixed-header thead{
//     display:block;
//     width: 100%;
//     overflow:unset;
//   }

// .fixed-header thead tr {
//    display: block;
// }
 

// .fixed-header th, .fixed-header td {
//   padding: 5px;
//   text-align: left;
//   width: 200px;
// }

.no-y-padding{
    padding-top: 0px;
    padding-bottom: 0px;
} 
.no-x-padding{
    padding-right: 0px;
    padding-left: 0px;
}
.filter-container{
    min-height: 60px!important;
}
.results-count-bar{
    margin: 5px 0px!important;
}

.img-circle{
    width: 80px;
    height: 80px;
}
.custom-pointer{
    cursor: pointer;
}
.search-btn{
    float: right;
    margin-left: 5px;
}

.app-modal-window .modal-dialog {
    width: 500px;
    height: 500px;
  }
ng2-file-input-files input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
div .input-group-content{
    padding-top: 5px;
    color:rgb(25, 27, 26)!important;
}
.form-control{
    color:rgb(25, 27, 26)!important;
}
.form-control::before{
    color:rgb(25, 27, 26)!important;
    background-color: #333!important;
    visibility: visible!important;
}
.line{
    background-color: gray;
    height: 2px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    opacity: 0.3;
}

.ng2-file-input{
    .ng2-file-input-drop-container{
        min-width:200px;
        min-height:50px;
        border: 2px dashed #333;
        padding:7px;
        button{
            margin-left: 25px;
        }
    }
    .ng2-file-input-drop-container.file-is-over{
        border: 2px solid #007e40;
        color: #007e40;
    }
    input{
        display:none;
    }
    .ng2-file-input-files{
        margin-top:8px;
        .ng2-file-input-file {
            overflow:hidden;
            display:inline-block;
            margin-right:5px;
            margin-bottom:5px;
            vertical-align: middle;
            text-align: center;
            position:relative;
            .ng2-file-input-file-text{
                max-width:110px;
                line-height:16px;
                display:block;
                padding:2px;
                width:auto;
                overflow:hidden;
                word-wrap: break-word;
                font-size:12px;
            }
            img{
                width:120px;
                height:120px;
            }
        }
        .ng2-file-input-file.image{
            width:120px;
            height:120px;
            .ng2-file-input-file-text{
                position:absolute;
                top:5px;
                left:5px;
                line-height:14px;
                font-size:11px;
                background: rgba(255,255,255,0.6);
                white-space: nowrap;
                z-index:5;
                text-overflow: ellipsis;
            }
            .ng2-file-input-file-text:hover{
                overflow:auto;
                white-space: pre-wrap;
                text-overflow: initial;
            }
        }
        .ng2-file-input-file.image .ng2-file-input-file-text.remove, .ng2-file-input-file-text.remove{
            overflow:hidden;
            position:absolute;
            bottom:0;
            z-index:3;
            vertical-align:bottom;
            max-width:120px;
            font-size:14px;
            line-height:20px;
            top: 0;
            left:0;
            right:0;
            opacity:0;
            padding:0;
            p{
                position:absolute;
                bottom:5px;
                width:100%;
                color: #fff;
            }
        }
        .ng2-file-input-file.image .ng2-file-input-file-text.remove:hover, .ng2-file-input-file-text.remove:hover{
            opacity:1;
            cursor:pointer;
            background: rgba(169,68,66,0.85);
        }
    }
}

