<section>

	<div class="section-header">
		<ol class="breadcrumb">
			<li *ngIf="searchType=='asadas'" class="active">
				<h3>Asadas</h3>
			</li>
			<li *ngIf="searchType=='infraestructura'" class="active">
				<h3>Infraestructuras</h3>
			</li>

			<button *ngIf="searchType=='infraestructura'" (click)="export()" class="btn ink-reaction btn-raised btn-primary btn-loading-state search-btn"
			 [disabled]="" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">
				Exportar Infraestructuras
				<div class="ink" style="top: 20px; left: 51.75px;"></div>
			</button>

			<button *ngIf="searchType=='asadas'" (click)="export()" class="btn ink-reaction btn-raised btn-primary btn-loading-state search-btn"
			 [disabled]="" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">
				Exportar Asadas
				<div class="ink" style="top: 20px; left: 51.75px;"></div>
			</button>

			<button *ngIf="searchType=='asadas' && userAccess.rol =='Super Administrador'" class="btn ink-reaction btn-raised btn-primary btn-loading-state search-btn"
			 data-toggle="modal" data-target="#upload-asadas" data-placement="top" data-original-title="Subir">
				Importar ASADAs
			</button>
		</ol>

	</div>


	<div class="section-body contain-xl ">
		<div class="card tabs-left style-default-light">

			<!-- BEGIN SEARCH BAR -->
			<div class="card-body style-primary no-y-padding no-x-padding">
				<div class="col-xs-12  filter-container">
					<app-filter [activeLocationFilter]="true" [activeCategoryFilter]="searchType=='infraestructura'"
					 [activeRiskFilter]="searchType=='infraestructura'" [activeFilterButton]="true" (notify)='filterNotity($event)'>
					</app-filter>

				</div>
				<!-- <button (click)="debugMode()">prueba debug</button> -->

			</div>
			<!--end .card-body -->
			<!-- END SEARCH BAR -->
			<!-- BEGIN TAB CONTENT -->
			<div class="card-body tab-content style-default-bright table-panel">
				<div class="tab-pane active" id="web1">
					<div class="row">
						<div class="col-lg-12">

							<!-- BEGIN PAGE HEADER -->
							<div class="margin-bottom-xxl col-xs-4 results-count-bar">

								<span class="text-light text-lg"> Resultados <strong>{{filteredList.length}}</strong></span>

							</div>
							<div class="col-xs-8">
								<form class="form form-inverse">
									<div class="form-group">
										<div class="input-group input-group-lg">
											<div class="input-group-content">
												<input type="text" class="form-control dirty" id="searchInput" placeholder="busqueda" (keyup)="search(input.value)"
												 #input>
												<div class="form-control-line"></div>
												<div class="line"></div>

											</div>
											<div class="input-group-btn">
												<button class="btn btn-floating-action btn-default-bright" type="button"><i class="fa fa-search"></i></button>
											</div>
										</div>
									</div>
									<!--end .form-group -->
								</form>
							</div>

							<!-- END PAGE HEADER -->

							<div *ngIf="searchType=='asadas'" class="scroll-table">
								<table class="table table-hover fixed-header">
									<thead>
										<tr>
											<th class="col-xs-1">
												<div class="checkbox checkbox-styled tile-text">
													<label>
														<input type="checkbox" [(ngModel)]="allSelection" (change)="selectAll()">
														<span>
														</span>
													</label>
												</div>
											</th>
											<th class="col-xs-2 text-medium text-lg text-primary sorting">Nombre</th>
											<th class="col-xs-2 text-medium text-lg text-primary">Provincia</th>
											<th class="col-xs-2 text-medium text-lg text-primary">Cantón</th>
											<th class="col-xs-2 text-medium text-lg text-primary">Distrito</th>
											<th *ngIf="optionsAllowed == true" class="col-xs-2 text-medium text-lg text-primary">Cargar Infraestructuras</th>
											<th *ngIf="optionsAllowed == true" class="col-xs-1 text-right text-lg text-primary">Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let element of filteredList">
											<td class="col-xs-1">
												<div class="checkbox checkbox-styled tile-text">
													<label>
														<input type="checkbox" [(ngModel)]="element.isActive">
														<span>
														</span>
													</label>
												</div>
											</td>
											<td class="col-xs-2"><a class="custom-pointer" (click)=openDetails(element)>{{element.name}}</a></td>
											<td class="col-xs-2"><a class="opacity-75">{{element.location.province.name}}</a></td>
											<td class="col-xs-2"><a class="opacity-75">{{element.location.canton.name}}</a></td>
											<td class="col-xs-2"><a class="opacity-75">{{element.location.district.name}}</a></td>
											<td *ngIf="optionsAllowed == true" class="col-xs-2">
												<button *ngIf="element.allowedToEdit==true" class="btn ink-reaction btn-raised btn-primary btn-loading-state"
												 (click)="uploadInfraestructura(element)" data-toggle="modal" data-target="#upload-infraestructuras"
												 data-placement="top" data-original-title="Subir">
													Importar
												</button>
											</td>
											<td *ngIf="optionsAllowed == true" class="col-xs-1 text-right">
												<button *ngIf="element.allowedToEdit==true" (click)="modifyInfo(element)" type="button" class="btn btn-icon-toggle"
												 data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-pencil"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- BEGIN RESULT LIST -->
							<div *ngIf="searchType=='infraestructura'">
								<table class="table table-hover  fixed-header">
									<thead>
										<tr>
											<!-- <th></th>Z -->
											<th class="col-xs-1">
												<div class="checkbox checkbox-styled tile-text">
													<label>
														<input type="checkbox" [(ngModel)]="allSelection" (change)="selectAll()">
														<span>
														</span>
													</label>
												</div>
											</th>
											<th class="col-xs-2"></th>
											<th class="text-medium text-lg text-primary sorting col-xs-2">Nombre</th>
											<th class="text-medium text-lg text-primary sorting col-xs-3">Asada</th>
											<th class="text-medium text-lg text-primary sorting col-xs-2">Tipo</th>

											<th *ngIf="optionsAllowed==true" class="text-right text-lg text-primary col-xs-2">Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let element of filteredList" class="riskBorder-{{element.riskLevel? element.riskLevel.replace(' ',''):'noInfo'}}">
											<!-- <td class="riskBorder riskBorder-{{element.riskLevel? element.riskLevel.replace(' ',''):'noInfo'}}">
												<a>{{element.riskLevel?element.riskLevel:'Sin info'}}</a>
											</td> -->
											<td class="col-xs-1">
												<div class="checkbox checkbox-styled tile-text">
													<label>
														<input [disabled]="element.allowedToEdit==false" type="checkbox" [(ngModel)]="element.isActive">
														<span>
														</span>
													</label>
												</div>
											</td>
											<td class="col-xs-2">
												<div *ngIf="element.mainImg">
													<img class="img-circle width-2" [src]="element.mainImg.url" alt="" />
												</div>

												<div *ngIf="!element.mainImg">
													<img class="img-circle width-2" src="../../../assets/img/default-image.png" alt="" />
												</div>
											</td>
											<td class="col-xs-2">
												<a *ngIf="element.name && element.name!=''" class="custom-pointer" (click)=openDetails(element)>
													{{element.name}}</a>

												<a *ngIf="!element.name || element.name==''" class="custom-pointer">
													*Sin Definir</a>
											</td>
											
											<td class="col-xs-3"><a class="opacity-75">{{element.asada.name}}</a></td>
											<td class="col-xs-2"><a class="opacity-75">{{element.type}}</a></td>

											<td *ngIf="optionsAllowed == true" class="text-right col-xs-2">
												<button *ngIf="element.allowedToEvaluate==true" (click)="evaluate(element)" type="button" class="btn btn-icon-toggle"><i
													 class="fa fa-list-alt" content="Evaluar Riesgo"></i></button>
												<button *ngIf="element.allowedToEdit==true" (click)="modifyInfo(element)" type="button" class="btn btn-icon-toggle"><i
													 class="fa fa-pencil" content="Editar Información"></i></button>

											</td>
										</tr>
									</tbody>
								</table>
							</div>


						</div>
						<!--end .col -->
					</div>
					<!--end .row -->
				</div>
				<!--end .tab-pane -->
			</div>
			<!--end .card-body -->
			<!-- END TAB CONTENT -->

		</div>
		<!--end .card -->
	</div>
	<!--end .section-body -->

	<div id="upload-asadas" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
		<div class="modal-dialog modal-lg ">
			<!-- Modal content-->
			<div class="modal-content ">
				<div class="modal-header">
					<h3 class="modal-title">Subir archivo de ASADAs</h3>
				</div>
				<div class="modal-body">
					<ng2-file-input (onAdded)="onAdded($event)" (onRemoved)="onRemoved($event)">

						<!-- Importar Asadas -->

					</ng2-file-input>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn ink-reaction btn-raised btn-warning" data-dismiss="modal">Cerrar</button>
				</div>

			</div>

		</div>
	</div>

	<div id="upload-infraestructuras" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
		<div class="modal-dialog modal-lg ">
			<!-- Modal content-->
			<div class="modal-content ">
				<div class="modal-header">
					<h3 class="modal-title">Subir archivo de infraestructuras</h3>
					<h3>{{(uploadInfraestructuraElement)?.adminEntityName}}</h3>
				</div>
				<div class="modal-body">
					<ng2-file-input [browse-text]="'Archivo...'" (onRemoved)="onRemoved2($event)" (onAdded)="onAdded2($event,uploadInfraestructuraElement)">
					</ng2-file-input>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn ink-reaction btn-raised btn-warning" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</section>