
<div class="col-lg-12">
  <form class="form" (ngSubmit)="onSubmit()" [formGroup]="addChlorinForm">
    <div class="card">
      <div class="card-head style-primary">
        <header>Creación de sistemas de cloración</header>
      </div>
      <!-- BEGIN TEXT PLACE -->
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" id="aqueductName" formControlName="aqueductName"  required>
              <label for="aqueductName">Nombre Acueducto</label>
            </div>
            <!-- Error message -->
            <div *ngIf="formErrors.aqueductName" class="alert alert-danger">
                {{ formErrors.aqueductName }}
            </div>

          </div> 

          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" id="aqueductInCharge" formControlName="aqueductInCharge" required>
              <label for="aqueductInCharge">Encargado del acueducto</label>
            </div>
            <!-- Error message -->
            <div *ngIf="formErrors.aqueductInCharge" class="alert alert-danger">
                {{ formErrors.aqueductInCharge }}
            </div>

          </div> 

        </div> <!-- End Row -->

          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" id="chlorinName" formControlName="chlorinName"  required>
                <label for="chlorinName">Nombre de sistema de cloración</label>
              </div>
              <!-- Error message -->
              <div *ngIf="formErrors.chlorinName" class="alert alert-danger">
                  {{ formErrors.chlorinName }}
              </div>

            </div> 

            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" id="ubication" formControlName="ubication" requerired>
                <label for="ubication">Ubicación</label>
              </div>

              <!-- Error message -->
              <div *ngIf="formErrors.ubication" class="alert alert-danger">
                  {{ formErrors.ubication }}
              </div>

            </div>

          </div> <!-- End row -->

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                  <label for="asada" class="control-label">ASADA</label>
                  <input type="text" class="form-control" id="asada" formControlName="asada" readonly> 
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <input type="text"  class="form-control" id="inCharge" formControlName="inCharge" readonly required>
                <label for="inCharge">Funionario</label>
              </div>

                <!-- Error message -->
              <div *ngIf="formErrors.inCharge" class="alert alert-danger">
                  {{ formErrors.inCharge }}
              </div>

            </div>

      </div> <!-- End row -->

      <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <material-datepicker [(date)]="AqueductCreationDate"  dateFormat="DD-MM-YYYY" placeholder="Seleccione una fecha"></material-datepicker>
                <label for="SistemInstallDate">Fecha  de construcción del acueducto</label>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <material-datepicker [(date)]="SistemInstallDate"  dateFormat="DD-MM-YYYY" placeholder="Seleccione una fecha"></material-datepicker>
                <label for="SistemInstallDate">Fecha de instalacion del sistema de cloración</label>
              </div>
            </div>

      </div> <!-- End row -->
     <!-- END TEXT PLACE -->
      <br>
      
        <!-- BEGIN RADIO BUTTONS -->
      <div class="row">
        <div class="form-group">
          <label class="col-sm-6 control-label">Tipo de sistema de cloración</label>
          <div class="col-lg-12">
            <label *ngFor="let chlorin of chlorinType" class="radio-inline radio-styled">
              <input type="radio" value={{chlorin.value}} formControlName="chlorinType" ><span>{{chlorin.display}}</span>
            </label>
   
          </div><!--end .col -->
        </div>
        <br>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-sm-6 control-label">Tipo de dosificación</label>
          <div class="col-lg-12">
            <label *ngFor="let dosage of dosageType; let idx = index" class="radio-inline radio-styled">
              <input type="radio"  value={{dosage.value}}  formControlName="dosageType" ><span>{{dosage.display}}</span>
            </label>

          </div><!--end .col -->
        </div>
        <br>
      </div>
        <!-- END RADIO BUTTONS -->


                <!-- BEGIN LOCATION -->
        <div class="row">
          <div class="col-sm-6">

              <div class="card">
                <div class="card-head style-warning">
                    <header> Ubicación</header>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <input type="number" step="any" class="form-control dirty" formControlName="latitude" required>
                    <label >Latitud</label>
                  </div>
                  
                   <!-- Error message -->
                  <div *ngIf="formErrors.latitude" class="alert alert-danger">
                      {{ formErrors.latitude }}
                  </div>

                  <div class="form-group">
                    <input type="number" step="any" class="form-control dirty" formControlName="longitude" required>
                    <label >Longitud</label>
                  </div>

                   <!-- Error message -->
                  <div *ngIf="formErrors.longitude" class="alert alert-danger">
                      {{ formErrors.longitude }}
                  </div>

                  <button type="button" (click)="getGeoLocation()" class="btn btn-raised btn-default-light ink-reaction"><i class="md md-my-location"></i>Ubicación actual</button>
                </div><!--end .card-body -->
              </div><!--end .card -->

          </div>      
        </div>
        <!-- END LOCATION -->

        <div class="card-actionbar">
          <div class="card-actionbar-row">
            <button type="submit" class="btn ink-reaction btn-raised btn-primary btn-loading-state"  [disabled]="!addChlorinForm.valid || !SistemInstallDate">
            Crear Sistema
            <div class="ink" style="top: 20px; left: 51.75px;"></div></button>

            <button type="button" class="btn ink-reaction btn-raised btn-warning" data-dismiss="modal" (click)="cancel()">Cancelar</button>
          </div>
        </div>

        <toaster-container  [toasterconfig]="toastConfig"></toaster-container>

        </div> <!-- End card body -->
        
    </div><!--end .card -->
  </form>
  </div>
