<!-- /* 16 Ago 17 - gabygarro: The menu doesn't scroll to each anchor title. 
* The workaround could be here: https://stackoverflow.com/questions/36101756/angular2-routing-with-hashtag-to-page-anchor
*/ -->
<!-- Begin MENU -->


<div id="menubar" class="menubar-inverse menubar-pin animate">
	<div class="menubar-fixed-panel">

		<div>
				~ Content that is always visible goes here ~
		</div>

		
		<div class="expanded">
			~ Your logo when the menu is expanded goes here ~
		</div>

	</div>
	<!-- Begin Scroll -->
	<div class="nano has-scrollbar">
		<div class="nano-content">
			<div class="menubar-scroll-panel">
				<ul id="main-menu" class="gui-controls gui-controls-tree nav">
					<li><small></small></li>

					<li class="gui-folder expanded">
						<a routerLink="/HomePage" > <!-- class="active" -->
							<div class="gui-icon">
								<i class="glyphicon glyphicon-home"></i>
							</div>
							<span class="title">Página principal</span>
						</a>

					</li>

					<li class="gui-folder" *ngIf="isLoggedIn " >
						<a routerLink="/dashboard" >
							<div class="gui-icon"><i class="fa fa-tachometer"></i></div>
							<span class="title">Dashboard</span>
						</a>
						<ul></ul>
					</li>

					<li class="gui-folder expanded" *ngIf="isLoggedIn">
						<a routerLink="/search/asadas" >
							<div class="gui-icon"><i class="fa fa-building-o"></i></div>
							<span class="title">ASADAs</span>
						</a>
						<ul>
							<li *ngIf="isLoggedIn && userAccess.rol == 'Super Administrador' || userAccess.rol == 'Profesor'" >	
								<a routerLink="/addAsada">
									<span class="title"><i class="glyphicon glyphicon-plus"></i> Agregar ASADA</span>
								</a>
							</li>

							<li *ngIf="isLoggedIn " >	
									<a routerLink="/compare-asadas">
										<span class="title"><i class="fa fa-clone"></i> Comparar ASADAs</span>
									</a>
								</li>
							

						</ul>
					</li>

					<li class="gui-folder" *ngIf="isLoggedIn">
						<a routerLink="/search/infraestructura" >
							<div class="gui-icon"><i class="glyphicon glyphicon-road"></i></div>
							<span class="title">Infraestructuras</span>
						</a>
						<ul></ul>
					</li>

					<li class="gui-folder" *ngIf="isLoggedIn && userAccess.rol =='Super Administrador'" >
						<a routerLink="/bitacora" >
							<div class="gui-icon"><i class="fa fa-book"></i></div>
							<span class="title">Bitácora</span>
						</a>
						<ul></ul>
					</li>
					<li class="gui-folder" *ngIf="isLoggedIn" >
   						<a routerLink="/tomaDatos">
							<div class="gui-icon"><i class="glyphicon glyphicon-list-alt"></i></div>
							<span class="title">Toma de datos</span>
						</a>
						<ul>

							<li *ngIf = "isLoggedIn && userAccess.rol == 'Profesor'"  >	
								<a routerLink="/tomaDatos">
									<span class="title"><i class="fa fa-check-square-o"></i> Calificar</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>

			</div>
			<div class="menubar-foot-panel">
					<small class="no-linebreak hidden-folded">
						<span class="opacity-75">Copyright &copy;</span> 
					</small>
					<small class="no-linebreak hidden-folded">
						<span> <strong>Tecnológico de Costa Rica 2017</strong> </span>
					</small>
				</div>
		</div>

	</div>
	<!-- End Scroll -->
</div>
<!-- End MENU -->